attrs==21.4.0
beautifulsoup4==4.11.1
flake8==3.8.4
hacking==4.1.0
iniconfig==1.1.1
jedi==0.18.1
lxml==4.8.0
mccabe==0.6.1
packaging==21.3
parso==0.8.3
pluggy==1.0.0
py==1.11.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==3.0.8
pytest==7.1.2
pytest-mock==3.7.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.4.1
soupsieve==2.3.2.post1
tomli==2.0.1
ujson==5.2.0
